<div class="money">
 <div class="stored_value">
  <%= current_user.balance %>
  </div>
</div>
<div class="buttons">
  <a class="charge-button" href="charge">Charge</a><br>
  <a class="change-button" href="credit">Change the card</a><br>
  <a class="signout-button" href="signout">Sign out</a><br>
</div>
