<div>
  <h1 class="signin">商品追加</h1>
  <form action="/items/create" method="post">
    <div>
      <div class="decision">
        <input class="name" name="name" type="text" placeholder="商品名"><br>
        <input class="price" name="price" type="text" placeholder="値段"><br>
      </div>
      <div class="buttons">
        <div>
          <input class="ok-button" type="submit" value="OK">
        </div>
        <a class="back-to-store" href="/store">storeに戻る</a>
      </div>
    </div>
  </form>
</div>