<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
  <title>SQ Pay</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
  <h1 class="sq-pay"><a class="homebutton" href="home">SQ Pay</a></h1>
  <a href="/store">/store</a>
  <a href="/items/create">/items/create</a>
  <%=yield%>
</body>
</html>