<h1 class="sq-pay">SQ Pay</h1>
<div>
<h1 class="signin">Sign up</h1>
  <form action="/signup" method="post">
    <div>
      <div class="decision">
        <input class="email" name="email" type="email" placeholder="Email"><br>
        <input class="password" name="password" type="password" placeholder="Password"><br>
        <input class="password-confirmation" name="password_confirmation" type="password" placeholder="Password Confirmation">
      </div>
      <div class="ok-text">
        <input class="ok-button" type="submit" value="OK">
      </div>
      <div class="signup-text">
          <a href="signin" class="signup-button">Sign in</a>
        </div>
    </div>
  </form>
</div>