<!DOCTYPE html>
<html>
<body>
<div>
<h1 class="signin">Sign in</h1>
  <form action="/signin" method="post">
    <div>
      <div class="decision">
        <input class="email" name="email" type="email" placeholder="Email"><br>
        <input class="password" name="password" type="password" placeholder="Password"><br>
      </div>
      <div>
        <div class="ok-text">
          <input class="ok-button" type="submit" value="OK">
        </div>
        <div class="signup-text">
          <a href="signup" class="signup-button">Sign up</a>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
</html>